USE [master]
GO
/****** Object:  Database [Session8CitiesSolution]    Script Date: 2018-12-05 21:57:54 ******/
CREATE DATABASE [Session8CitiesSolution]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session8CitiesSolution', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Session8CitiesSolution.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Session8CitiesSolution_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Session8CitiesSolution_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session8CitiesSolution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session8CitiesSolution]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2018-12-05 21:57:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Name] [nvarchar](255) NOT NULL,
	[Population] [int] NOT NULL,
	[Hectares] [int] NOT NULL,
	[Municipality] [nvarchar](255) NOT NULL,
	[County] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[City] ([Name], [Population], [Hectares], [Municipality], [County]) VALUES (N'Löwenströmska lasarettet', 633, 68, N'Upplands Väsby', N'Stockholms län')
INSERT [dbo].[City] ([Name], [Population], [Hectares], [Municipality], [County]) VALUES (N'Brottby', 251, 37, N'Vallentuna', N'Stockholms län')
INSERT [dbo].[City] ([Name], [Population], [Hectares], [Municipality], [County]) VALUES (N'Ekskogen', 291, 60, N'Vallentuna', N'Stockholms län')
GO
USE [master]
GO
